<section class="h-100">
  <div class="card card-cover h-100 overflow-hidden text-bg-light rounded-4 shadow-lg">
    <div [hidden]="hasError">
      <img [ngClass]="{ blur: loading }" ngSrc="{{ baseUrl }}{{ imgName }}" alt="imgName" fill priority
        (load)="onload()" (error)="onError()" *ngIf="!reloading" />
    </div>

    <!-- error block -->
    <div class="error-loading-block" *ngIf="hasError && !loading">
      <p>Have problem during loading!</p>
      <p>
        <button class="btn btn-primary" (click)="reloadImage()">
          Try again
        </button>
      </p>
    </div>

    <!-- loading -->
    <div class="loading" *ngIf="loading">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>

    <div class="card-overlay">
      <div class="actions w-100 ">
        <button mat-raised-button color="primary">
          Show
        </button>

        <button mat-raised-button color="accent" *ngIf="!hasAssigned" (click)="onToggleAssignImage(imgName)">
          Assign
        </button>

        <button mat-raised-button color="warn" *ngIf="hasAssigned" (click)="onToggleAssignImage(imgName)">
          Un-Assign
        </button>
      </div>
    </div>
  </div>
</section>