.image-block {
    min-height: 300px;
}

.paging-info {
    display: flex;
    justify-content: space-between;
}

// #close_FullScreen {
//     position: fixed;
//     top: 0;
//     z-index: 99999;
//     margin: 1rem;
//     left: 0;
//     // display: block;
// }